.DS_Store
/node_modules
/xpacy/public/hot
/xpacy/public/storage
/xpacy/storage/*.key
vendor/
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
.env
.nuxt
dist/
/public/_nuxt
*.jar
*.swp
chromedriver
*.retry

# ansible
node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log